.slider-container {
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  position: relative;
}

/* Slider track (moving element) */
.slider-track {
  display: flex;
  gap: 2rem;
  animation: scroll 20s linear infinite;
}

/* Each slider item */
.slider-item {
  flex: 0 0 auto;
  width: 250px;
  /* margin-right: 20px; */
  display: flex;
  align-items: center;
  gap: 10px;
}

.slider-item .brand-image {
  width: 75%;
  object-fit: contain;
}

/* Infinite scroll animation */
@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
