.Container {
  width: min(100% - 3rem, 120rem);
  margin-inline: auto;
}

@media (min-width: 768px) {
  .Container {
    width: min(100% - 6rem, 120rem);
  }
}
@media (min-width: 1200px) {
  .Container {
    width: min(100% - 10rem, 120rem);
  }
}
