@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rb-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rb-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rb-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.rb-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.rb-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.css-13cymwt-control {
  /* background: rgb(229 231 235) !important; */
}
.test {
  background: rgb(229 231 235) !important;
  padding-block: 0.7rem !important;
  padding-inline: 0.5rem !important;
  height: auto !important;
  padding-left: 64px !important;
  flex: 1;
}
.test-2 {
  padding-inline: 0.4rem !important;
  /* width: 100%; */
}
/* reusable */
.shop-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.geo-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.roadmap-bg {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center top; */
}

.brand-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.about-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.product-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
}

.product-container img {
  width: 100%; /* Fills its grid cell */
  object-fit: cover; /* Scales image to fit */
}

.sticky-tabs {
  position: -webkit-sticky; /* For Safari */
  position: sticky;
  height: auto;
  top: 0px;
  z-index: 1000; /* Adjust as needed to ensure it stays above other elements */
  background-color: #efefef; /* Same background color as the tabs */
}
