@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rb-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.rb-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.rb-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.rb-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.rb-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.test {
  background: rgb(229 231 235) !important;
  padding-block: 0.7rem !important;
  padding-inline: 0.5rem !important;
  height: auto !important;
  padding-left: 64px !important;
}
.test-2 {
  padding-inline: 0.4rem !important;
}
/* reusable */
.shop-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.geo-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.roadmap-bg {
  background-repeat: no-repeat;
  background-size: cover;
  /* background-position: center top; */
}

.brand-bg {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.product-container {
  display: grid;
  align-items: stretch;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
}

.product-container img {
  width: 100%; /* Fills its grid cell */
  object-fit: cover; /* Scales image to fit */
}
